@model PMS.Models.user
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Password</title>
    <link href="~/design_forget/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form " />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--element start here-->
    <div class="elelment">
        <h2>Reset Password Form</h2>
        <div class="element-main">
            <h1>Forgot Password</h1>
            <p> type your email and you receive code to reset password </p>
            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "form-Horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class="text-danger"})
                @Html.TextBoxFor(Model => Model.email ,new { @class="form-control",@place_holder="your email address"})
                <input type="submit" class="btn btn-default" value="Reset MY Password" />
            }
             </div>
    </div>
</body>
</html>