@model PMS.Models.user

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Customer_Trainee.cshtml";
}

<h2>Register</h2>



    <div class="container">
        <h2 class="text-center">Add New user</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="Registeration" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                    <label>username</label><br />
                    <input type="text" id="Username" name="Username" class="form-control" /><br />

                    <label>phone</label><br />
                    <input type="text" id="phone" name="phone" class="form-control" /><br />

                    <label>password</label><br />
                    <input type="password" id="Password" name="Password" class="form-control" /><br />

                    <label>email</label><br />
                    <input type="text" id="email" name="email" class="form-control" /><br />

                    <label>experience</label><br />
                    <input type="text" id="experience" name="experience" class="form-control" /><br />


                    <label>Image</label><br />
                    <input type="file" id="Upload" name="Upload" class="form-control" /><br />
                    <button class="btn btn-danger">Add</button>
                </form>
            </div>
        </div>
    </div><br /><br /><br /><br />
                            
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script>
        function AjaxPost(formData) {
            var ajaxConfig = {
                type: "POST",
                url: "/Account/Register",
                data: new FormData(formData),
                success: function (result) {
                    alert(result);
                    window.location.href = "/Account/Register";
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
    </script>