@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Welcome user : @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "guest")</h2>
    }
   

</div>