
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_admin_MD_TL.cshtml";

}

<h2>Test</h2>
<div>
    <div class="notification-icon" style="margin-top:10px">
        <span class="glyphicon glyphicon-envelope " style="font-size:25px"></span>
        <span class="badge badge-danger" style="background-color:red" id="ntCnt"></span>
    </div>
</div>
<div id="divNotificaion">
  
</div>
