@if (Request.IsAuthenticated)
{

    <ul >
        <li style="display:inline-block">
            @Html.ActionLink("Hello " + User.Identity.Name +" "+ " ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li style="display:inline-block"><a href="@Url.Action("SignOut","Account")">| Log off</a></li>
    </ul>

}
else
{
      
    <ul >
        <li>
            <a href="@Url.Action("Login","Account")">Login </a>
        </li>

        <li><a href="@Url.Action("#","#")">| Sign Up</a></li>
    </ul>
}

